<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
    <h1>nicor88 Blog</h1>
    <!-- <p>Description goes here.</p> -->
</div>

<div class="articles">
    <div class="row">
        <h2>Articles</h2>
        <div class="col-lg-3 input-group">
            <span class="input-group-addon" href="#"><span class="glyphicon glyphicon-search"></span></span>
            <input type="text" class="form-control" placeholder="Search for..." ng-model="search.name">
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div ng-repeat="article in articles | filter:search:strict">
            <span class="article-date">
                {{article.date}}
            </span>
            <span class="article-name">
                <a href="" ng-click="go(article.link)">{{article.name}}</a>
            </span>
        </div>
    </div>
</div>
