div.highlighter-rouge {
  margin: 30px 0;
  font-size: 0.95em;
  background-color: #f6f8fa;
  scroll-behavior: inherit;
  padding: 1px 20px;
}

code.highlighter-rouge {
  font-size: 0.95em;
  background-color: #f6f8fa;
  padding: 1px 3px
}
